<!-- Don't know what the heading should be yet. -->
<!-- <h1 ng-show="root.loggedIn" class="title" id="welcome-back">Welcome back, <span class='static-info' id='user-home-welcome'>{{root.username}}!</span></h1> -->

<div class="home">
  <div class="home-title">
      <div class="closecall-home-banner">
        <span id="close">close</span>
        <span id="call">call</span>
      </div>
      <div class="helping-neighbors-in">
        HELPING NEIGHBORS IN NEED
      </div>
  </div>
  <div class="bottom-buttons">
        <button class="go-to-help-button" ng-click="home.gotohelp()">
            GET HELP
        </button>
      <button class="sign-in-button" ng-click="home.signIn()">
        SIGN UP
      </button>
    </div>
</div>