<!-- Don't know what the heading should be yet. -->
<h1 ng-show="root.loggedIn" class="title" id="welcome-back">Welcome back, <span class='static-info' id='user-home-welcome'>{{root.username}}!</span></h1>

<div class="home-info-diagram">
  <div class="diagram-box">
    <div class="home-header">
      <strong>Blaze it!</strong>
    </div>
    <ul class="home-description">
      <li>Start by creating a new trail.</li>
      <li>Use the search function to start at any location in the world!</li>
      <li>Using our interactive point-placement system, plot out your custom trail.</li>
      <li>Select a trail interval. 100 mile hike? Don't sweat it! Select any section you'd like to tackle.</li>
      <li>Don't forget to notice the real-time elevation data update as you plot!</li>
      <li>Save your brand new trail, and start marking!</li>
    </ul>
  </div>
  <img class='home-arrow' src="images/home-arrow.png" alt="">
  <div class="diagram-box">
    <div class="home-header">
      <strong>Mark it!</strong>
    </div>
    <ul class="home-description">
      <li>Make planning your next hike easy.</li>
      <li>Using our strategic marking system, capture every point of interest along the way.</li>
      <li>Mark as many or few points of interest as you like. The choice is yours!</li>
      <li>Choose from various types of marks: campgrounds, water-sources, viewpoints, and more!</li>
      <li>Make a note: give each marker you make a title, and describe exactly what's there.</li>
      <li>Save your point, and watch as our elevation chart makes a note as well!</li>
    </ul>
  </div>
  <img class='home-arrow' src="images/home-arrow.png" alt="">
  <div class="diagram-box">
    <div class="home-header">
      <strong>Hike it!</strong>
    </div>
    <ul class="home-description">
      <li>Get out there and hit the trail!</li>
      <li>Take advantage of the interval system:</li>
      <li>Keep track of which sections of trail you've conquered, and plan the next with ease.</li>
      <li>What are you waiting for? Start blazing a trail <a href="#/trails/blaze/new">right now!</a></li>
    </ul>
  </div>
</div>
