<img class="banner" src="images/banner.png" alt="">
<nav class="nav-links">
	<span class="site-nav">
		<span><a class="site-nav-link" href="#/home">Home</a></span>
		<span>|</span>
		<span><a class="site-nav-link" href="#/trails/blaze/new">New Trail</a></span>
		<span>|</span>
		<span><a class="site-nav-link" href="#/topTrails">Top Trails</a></span>
	</span>
	<span class='user-nav nav-logged-out' ng-hide="root.loggedIn">
		<span><a class="site-nav-link" href="#/login">Login</a></span>
		<span>|</span>
		<span><a class="site-nav-link" href="#/register">Register</a></span>
	</span>
	<span class='user-nav' ng-show="root.loggedIn">
		<span><small><span class="logged-in">Logged in as</span ></small><a href="#/users/{{root.user_id}}/profile"><span id="current-user">{{root.username}}</span></a></span>
		<button class="logout-button" ng-click="root.logout()">Logout</button>
	</span>

</nav>
<div class="root-container" ui-view></div>
